/*
 background, color, font-family, font-size,
 height, margin, padding, text-align
*/
/* Set ALL HTML elements with border-box sizing */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    background-color: #EE6C4D;
    text-align: center;
    color: #293241;
}

body{
    background-color: #3D5A80;
    background-image: "media/images/orange-backlit-keyboard.jpg";
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

div{
    margin: auto;
}

article{
    background-color: #E0FBFC;
    width : 70%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 15px;
}

h1,h2,h3 .headings{
    color: #293241;
    text-align: center;
}

article > p{
    text-align: justify;
    font-size: 16;
    color: #293241;
}

footer > div{
    width: 30%;
    margin: auto;
    height: auto;
}

hr{
    color: #EE6C4D;
}